html {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    
}

#nome {
    font-family: 'Mochiy Pop P One', sans-serif;
    
}
 
#menu-h{
    text-align: center;
    background-color: rgb(37, 37, 39);
    border-radius: 15px;
    margin: 50px  300px 50px;

}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
    
}

#menu-h ul li a {
   
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}


#title, .subtitle, .post_title, p{
    color: white;

}

#p {
    line-height: 25px;
    text-align: justify;
}

.post_title {
    font-size: 15px;
    font-style: italic;
}

.post{
    color: #fff;
    padding: 10px;
    border: 30px solid #000;
}

#sessao1 {
    margin-left: 20px;
}

.sessao {
   
    margin-left: 220px;
}

.img {

    width: 180px;
    height: 180px; 
    border-radius: 50%;
    display: inline-block;
    float: left;
 

}

.hrz2 {
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
}
 

.png {
    padding:0px;
	margin:0px;
	list-style:none;

    width: 30px;
    height: 30px; 
}

 .formulario {
     text-align: center;
 }
 
 .form-div {

     padding: 15px;
 }

 label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    color: #FFF;
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 450px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}

textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}

.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
}
#footer {
   height:100px;
    padding-top: 135px;
    bottom: 0;
    height: 35px; 
    text-align:center;

}

ul, li {
    padding-top: 15px;
}

#ul, #li{ 
    display: inline; /* alinha os elementos na horizontal */ /* */
    padding: 15px;  /* espaçamento*/

   
    /* 
   Tira as bolinhas da lista 
   */
    list-style:none;
    list-style-type:none;
}


 