<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\bootcamptakeblip\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Roboto:wght@500 & display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="menu-h">
            <ul>
                <li><a id="nome" href="index.html">Gabriel Cruz</a></li>
                <li><a href="skills.html">Skills</a></li>   
                <li><a href="contato.html">Contato</a></li>     
            </ul>
        </nav> 
    </header>

    <div class="formulario">
        <form action="" method="POST">
            <div class="form-div">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" />
            </div>
            <div class="form-div">
                <label for="email">E-mail:</label>
                <input type="email" id="email" />
            </div>
            <div class="form-div">
                <label for="msg">Mensagem:</label>
                <textarea id="msg"></textarea>
            </div>
            <div class="button">
                <button type="submit">Enviar</button>
            </div>

        </form>
    </div>



    
    <footer id="footer">
        <ul id="ul">
            <li id="li"><a href="mailto:gabriel.cruz@al.forsoft.org.br" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\gmail.png" alt="Email"></a></li>
            <li id="li"><a href="https://www.linkedin.com/in/gabriel-b-cruz/" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\linkedin.png" alt="Linkedin"></a></li>
            <li id="li"><a href="https://github.com/gabrielbcruz99" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\github.png" alt="GitHub"></a></li>
        </ul>
        <p> © Desenvolvido por: Gabriel Cruz</p>
    </footer>
</body>
</html>