<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\bootcamptakeblip\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Roboto:wght@500 & display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="menu-h">
            <ul>
                <li>
                    <a id="nome" href="index.html">
                        Gabriel Cruz
                    </a>
                </li>
    
                <li><a href="skills.html">Skills</a></li>
                
                <li><a href="#">Contato</a></li>
                
            </ul>
        </nav>
        
    </header>
    <section id="sessao1">
        <div class="hrz1">
            <img class="img" src="C:\Users\gabri\Pictures\foto_perfil.jfif" alt="foto de Gabriel">
        </div>
    </section>

    <section class="sessao">
        <article class="post">
            <div class="hrz2">
                <p id="p">Olá, meu nome é Gabriel, tenho 22 anos e atualmente estou cursando o 5 período do Curso de Análise e 
                        Desenvolvimento de sistemas na Estácio de Sá. Atualmente, resido no Rio de Janeiro, no bairro de Ramos, cituado na zona norte da cidade. 
                        Sou amante de tecnologia e curto bastante desenvolvimento web, mas a pouco tempo me descobri na área de banco de dados e BI. 
                        Tenho muitos hobbis, entre eles, meus favoritos são praticar canto e jogar League of Legends. 


                </p>
            </div>        
        </article>
    </section>




    
    <footer id="footer">
        <ul id="ul">
            <li id=li><a href="mailto:gabriel.cruz@al.forsoft.org.br" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\gmail.png" alt="Email"></a></li>
            <li id=li><a href="https://www.linkedin.com/in/gabriel-b-cruz/" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\linkedin.png" alt="Linkedin"></a></li>
            <li id=li><a href="https://github.com/gabrielbcruz99" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\github.png" alt="GitHub"></a></li>
        </ul>
        <p> © Desenvolvido por: Gabriel Cruz</p>
    </footer>
</body>
</html>