<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\bootcamptakeblip\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Roboto:wght@500 & display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="menu-h">
            <ul>
                <li><a id="nome" href="index.html">Gabriel Cruz</a></li>
                <li><a href="skills.html">Skills</a></li>   
                <li><a href="contato.html">Contato</a></li>     
            </ul>
        </nav> 
    </header>
 
 
    <section id="sessao1">
        <div class="hrz1">
            <img class="img" src="C:\bootcamptakeblip\icones\dev.jpg" alt="foto de Gabriel">
        </div>
    </section>
    <section class="sessao">
        <article class="post">
            <div class="hrz2">
                <ul class="hrz2">
                    <li>Front-end: HTML, CSS, Bootstrap</li>
                    <li>Back-end: Javascript, ABAP, SQL, Python, Node.JS</li>
                    <li>Banco de Dados: SQL Server, MySQL</li>
                    <li>Versionamento: Git/GitHub </li>
                    <li>Sistemas Operacionais: Windows</li>
                    <li>Hardware: Montagem e manutenção de PC's</li>
                </ul>
            </div>        
        </article>
    </section>
 




    
    <footer id="footer">
        <ul id="ul">
            <li id="li"><a href="mailto:gabriel.cruz@al.forsoft.org.br" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\gmail.png" alt="Email"></a></li>
            <li id="li"><a href="https://www.linkedin.com/in/gabriel-b-cruz/" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\linkedin.png" alt="Linkedin"></a></li>
            <li id="li"><a href="https://github.com/gabrielbcruz99" target="_blank"><img class="png" src="C:\bootcamptakeblip\icones\github.png" alt="GitHub"></a></li>
        </ul>
        <p> © Desenvolvido por: Gabriel Cruz</p>
    </footer>
</body>
</html>